body {
background-color: #F6F9E7;
border: 10px solid black;
padding: 200px;
width: 700px;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
font-family: 'Questrial', sans-serif;
}
h1 {
    color: black;
}
p {
    color: darkgreen;
}

  a:link {
    text-decoration: none;
    color: orange;
}

a:visited {
    text-decoration: none;
    color: purple;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:active {
    text-decoration: underline;
}
   {
  color: green;



}
.para {font-size: 17px}
.bold {font-weight: bolder;}
#About {text-decoration: underline;}

#Schedule {text-decoration: overline;}

#header {font-size: 50px}

.leftcol {
  width:355px;
  border: 2px solid black;
  min-height: 190px;
  display:block;
  float: left;
  padding: 10px;
}
.rightcol {
  width: inherit;
  border: 2px solid black;
  min-height: 200px;
  display: block;
  float: right;
  padding: 10px
}
.clear {clear: both;}
