header h1 {
  font-size: 75px;
  text-align: center;
  font-family: 'Courgette', cursive;
}

nav li {
  text-align: center;
  font-size: 24px;
  font-family: 'Comfortaa', cursive;
  padding-top: 15px;
  padding-bottom: 15px;
}
.outerimage { height: auto;}
.square-img {
  display: block;
 }
.wide-img {
  display: none;
 }
 .gallery li {
   margin: 20px;

 }
 .bio {text-align: center;
 font-size: 12px;
 font-family: 'Comfortaa', cursive;
 padding: 50px;
 padding-top: 15px;
 padding-bottom: 15px;
 display: inline;}
